.portfolioItem {
  width: 100%;
  padding: 1rem;
  transition: ease-in 0.2s;
}
.portfolioItem:hover {
  transform: translateY(-1rem);
  opacity: 0.9;
}

.imageContainer {
  position: relative;
  background: rgb(243, 179, 1);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  min-height: 200px;
}
.image {
  position: absolute;
  min-height: 50%;
  max-width: 80%;
  padding: 1rem 1rem;
  border-radius: 2rem;
  top: 42%;
  transform: skewX(10deg) skewY(5deg);
}
.info {
  padding: 3rem 2rem;
}
.portfolioItem h3 {
  color: white;
  font-size: 1.8rem;
}
.portfolioItem p {
  margin-top: 1rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
}

@media (max-width: 1450px) {
  .image {
    transform: skewX(5deg) skewY(2.5deg);
    min-height: 40%;
  }
}
@media (max-width: 880px) {
  .image {
    min-height: 36%;
    top: 45%;
  }
  .portfolioItem {
    padding: 0.2rem;
  }
}
