.container {
  margin-top: 6rem;
  background: rgb(251, 247, 243);
  width: 100%;
}
.innerContainer {
  display: flex;
  justify-content: space-between;
  padding: 4rem 9%;
  padding-bottom: 0rem;
}

.header h2 {
  font-size: 2.3rem;
}

.header p {
  margin-top: 1rem;
}

.more h5 {
  margin-top: 1rem;
  color: orange;
  font-size: 1rem;
  font-weight: 500;
}

.portfolio {
  margin-bottom: 3rem;
  padding: 2rem 9%;
  padding-bottom: 8rem;
}

@media (max-width: 1200px) {
  .portfolio {
    margin-bottom: 3rem;
    padding: 2rem 4rem;
  }
}

@media (max-width: 600px) {
  .portfolio {
    margin-bottom: 0rem;
    padding: 2rem 0rem;
    padding-top: 0;
    padding-bottom: 4rem;
  }
}
