.container {
  padding: 6rem 9%;
  display: flex;
  justify-content: space-between;
}

.header {
  font-size: 2.3rem;
  font-weight: 600;
}

.headerContainer h4 {
  margin-top: 1rem;
  font-weight: 500;
}

.welcome {
  font-size: 2.3rem;
  font-weight: 600;
  margin-top: 6rem;
  transform: skewY(-2deg) skewX(5deg);
}
.welcome span {
  color: rgb(242, 141, 0);
  border-bottom: 1.5px dotted rgb(242, 141, 0);
}

.infoContainer {
  width: 30%;
}

.info h3 {
  font-size: 1.5rem;
}

.info p {
  margin-top: 1rem;
  font-weight: 500;
}

@media (max-width: 1250px) {
  .container {
    flex-direction: column;
  }
  .info h6 {
    font-size: 1.9rem;
    margin-top: 2rem;
    font-weight: 600;
  }
  .welcome {
    font-size: 1.9rem;
    font-weight: 600;
    margin-top: 2rem;
  }
}

@media (max-width: 923px) {
  .container {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 627px) {
  .container {
    padding: 4rem 9%;
  }
  .info h3 {
    font-size: 1.35rem;
    margin-top: 3rem;
    font-weight: 600;
  }
  .infoContainer {
    width: 100%;
  }
  .welcome {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }
  .header {
    font-size: 2rem;
  }
}
