* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
}

body {
  background: #f4e9de;
}

a {
  color: inherit;
  text-decoration: none;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 1.5rem !important;
}
