.container {
  margin: 0;
  padding: 0;
}

.downContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding: 0rem 10rem;
}
.header h1 {
  font-size: 3.5rem;
  font-weight: bold;
  width: 44%;
}
.header p {
  font-weight: 200;
  font-size: 1.2rem;
  width: 25%;
  margin-top: 2rem;
}

.imageContainer {
  width: 60%;
  margin-bottom: 0;
  margin-top: 0rem;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 10rem;
  margin-bottom: 6rem;
  width: 30%;
}

.experience h2 {
  font-size: 3rem;
}
.experience h3 {
  font-weight: 300;
}

.rightContainer {
  margin-right: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 6rem;
  width: 30%;
}

.djjsoftware {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialContainer {
  margin-bottom: 3rem;
}

.socialContainer h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.socialContainer svg {
  margin-top: 1rem;
  font-size: 2.2rem;
  margin-right: 1rem;
}

@media (max-width: 1100px) {
  .experience {
    display: none;
  }
  .rightContainer {
    display: none;
  }
  .header {
    flex-direction: column;
    padding: 0rem 2rem;
  }
  .header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    width: 100%;
  }
  .header p {
    width: 100%;
    margin-bottom: 1rem;
  }
  .downContainer {
    justify-content: center;
  }
  .imageContainer {
    width: 65%;
    margin-bottom: 0;
    margin-top: 1rem;
  }
}

@media (max-width: 760px) {
  .imageContainer {
    width: 100%;
    margin-bottom: 0;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
  .header {
    margin-top: 2rem;
  }
  .line{
    width: 85%;
    height: 1px;
    margin: auto;
    background-color: rgb(221, 221, 221);
  }
}

@media (max-width: 460px) {
    .header {
      margin-bottom: 6rem;
    }
    
  }
  