.container {
  width: 80%;
  padding: 4rem 9%;
  border-top: 1px solid rgb(112, 112, 112);
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 1rem;
  font-weight: 500;
  padding-right: 1.5rem;
  border-right: 1px solid black;
}

.rights p {
  padding-left: 1.5rem;
}

.rights {
  display: flex;
}

.autor {
  font-size: 1rem;
}

@media (max-width: 1250px) {
  .rights {
    display: none;
  }
  .container {
    justify-content: center;
    padding: 2rem 9%;
  }
}
