.container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 10rem;
}

.logoText {
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
}

.navbar a {
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  font-size: 0.9rem;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

.phone svg {
  font-weight: 500;
  font-size: 2rem;
}

.link {
  color: rgb(0, 0, 0);
}

.burgerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.burgerMenu {
  display: none;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
}

.navbarMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mobileNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mobileNavbar a {
  margin-top: 1rem;
}

@media (max-width: 928px) {
  .burgerMenu {
    display: block;
  }
  .burgerContainer {
    display: block;
  }
  .navbar {
    display: none;
  }
  .phone {
    display: none;
  }
  .link {
    color: white;
  }
  .container {
    padding: 2rem 2rem;
  }
}

@media (max-width: 1100px) {
  .container {
    padding: 2rem 2rem;
  }
}
