.slider {
  margin: auto;
  width: 100%;
}
.portfolioItem {
  width: 25%;
  padding: 1rem;
}

.imageContainer {
  position: relative;
}
.image {
  border-radius: 1.5rem;
}
.info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}
.portfolioItem h3 {
  color: white;
  font-size: 1.4rem;
}
.portfolioItem p {
  color: white;
}
